<html>
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="uft-8">
        <title>Login</title>
        <link rel="stylesheet" href="css\bootstrap.min.css">
    </head>
    <body class="h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-sm-12 col-md-5 col-lg-5pt-2 pl-5 pr-5 pb-5" id="auth-container">
                    <img src="img/image.png" class="img-fluid rounded mx-auto d-block pb-4" style="max-width:60%;">
                    <form method="POST" action="login">
                            {% csrf_token %}
                            <input type="text" placeholder="Username" name="username" />
                            <input type="password" placeholder="Password" name="password" />
                            <button type="submit">Login</button>
                    </form>
    </div> 
    </div>
    </div> 
    </body>

</html>
