<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Log in to Proyectos</h1>
        <form class="site-form" action="accounts/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login">
        </form>  
    
    </body>

</html>
