<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Crear Usuario</h1>
        <form  action="/accounts/signup/" method="post">
            
            {{ form }}
    
            <input type="submit" value="Signup">
            {% csrf_token %}    
        </form>
    </body>

</html>
